section.products

  div.products__bg
    img.is-active(src=imagesPath + 'background/0.jpg')
    img(src=imagesPath + 'background/1.jpg', loading='lazy')
    img(src=imagesPath + 'background/2.jpg', loading='lazy')
    img(src=imagesPath + 'background/3.jpg', loading='lazy')
    img(src=imagesPath + 'background/4.jpg', loading='lazy')

  .products__container
    h2.products__title Наша продукция
    p.products__text Производим гликоли и водно-гликолевые растворы по европейским стандартам качества, с использованием немецкого сырья.
    .products__content
      ul.products__list
        li.products__item
          button.products__item-button.is-active(type='button', data-img='images/decor/1.svg')
            <svg width="51" height="30" viewBox="0 0 51 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6581 3.17859C22.3342 2.95349 21.9082 2.93982 21.5705 3.1437L11.4189 9.27299C10.9461 9.55845 10.7942 10.1731 11.0797 10.6459C11.3651 11.1187 11.9798 11.2706 12.4526 10.9851L22.0492 5.19097L31.5263 11.7772V24.0636C31.5263 24.6159 31.974 25.0636 32.5263 25.0636C33.0786 25.0636 33.5263 24.6159 33.5263 24.0636V11.7772L43.0035 5.19097L43.3914 4.84549L43.7793 4.5C44.2793 4 43.8198 3.34756 43.4821 3.14369C43.1445 2.93981 42.7185 2.95349 42.3946 3.17859L32.5263 10.0366L22.6581 3.17859Z" fill="white"/>
              <path d="M28.8314 24.7779C28.8314 22.8055 30.4303 21.2065 32.4028 21.2065C34.3752 21.2065 35.9742 22.8055 35.9742 24.7779C35.9742 26.7504 34.3752 28.3494 32.4028 28.3494C30.4303 28.3494 28.8314 26.7504 28.8314 24.7779Z" fill="white"/>
              <path d="M7.40284 11.9208C7.40284 9.94831 9.00183 8.34933 10.9743 8.34933C12.9467 8.34933 14.5457 9.94831 14.5457 11.9208C14.5457 13.8932 12.9467 15.4922 10.9743 15.4922C9.00183 15.4922 7.40284 13.8932 7.40284 11.9208Z" fill="white"/>
            </svg>
            span Пропиленгликоль
        li.products__item 
          button.products__item-button(type='button', data-img='images/decor/2.svg')
            <svg width="51" height="30" viewBox="0 0 51 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.81555 11.4722L19.2066 20.1611L34.005 9.87695L47.9887 20.1611" stroke="white" stroke-width="1.87709" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8.70391 11.352C8.70391 13.2032 7.20319 14.7039 5.35196 14.7039C3.50072 14.7039 2 13.2032 2 11.352C2 9.50072 3.50072 8 5.35196 8C7.20319 8 8.70391 9.50072 8.70391 11.352Z" fill="white"/>
              <path d="M49.9999 18.7265C49.9999 20.5777 48.4992 22.0784 46.648 22.0784C44.7967 22.0784 43.296 20.5777 43.296 18.7265C43.296 16.8752 44.7967 15.3745 46.648 15.3745C48.4992 15.3745 49.9999 16.8752 49.9999 18.7265Z" fill="white"/>
            </svg>
            span Этиленгликоль
        li.products__item
          button.products__item-button(type='button', data-img='images/decor/3.svg') 
            <svg width="51" height="31" viewBox="0 0 51 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)" fill="#fff"><path d="M34.475 3.473c-.756-.67-1.411-1.248-1.411-2.12A.36.36 0 0032.71 1c-.522 0-3.52 3.217-3.52 5.402a3.529 3.529 0 107.056 0c.002-1.363-.933-2.195-1.772-2.93zM32.72 9.244a2.845 2.845 0 01-2.84-2.842c0-1.487 1.753-3.587 2.584-4.411.242.829.904 1.421 1.557 1.996.792.699 1.542 1.361 1.542 2.417a2.845 2.845 0 01-2.843 2.84zM29.835 11.92c-2.15-1.898-4.189-3.689-4.189-6.427a.365.365 0 00-.37-.37c-.85 0-9.276 8.633-9.276 14.572a9.305 9.305 0 0018.61 0c.003-3.558-2.426-5.702-4.775-7.775zm-4.523 16.389a8.626 8.626 0 01-8.609-8.614c0-5.216 6.555-12.136 8.3-13.62.256 2.722 2.35 4.573 4.377 6.36 2.236 1.972 4.546 4.011 4.546 7.25a8.624 8.624 0 01-8.614 8.624z" stroke="#fff" stroke-width=".558"/><path fill-rule="evenodd" clip-rule="evenodd" d="M23.9 16.18a.331.331 0 00-.361-.012l-3.364 2.03a.331.331 0 00.342.568l3.18-1.92 3.14 2.182V23.1a.331.331 0 10.663 0v-4.072l3.141-2.182.129-.114.128-.115c.166-.166.014-.382-.098-.45a.331.331 0 00-.36.012l-3.27 2.273-3.27-2.273z"/><path d="M25.945 23.337a1.183 1.183 0 112.367 0 1.183 1.183 0 01-2.367 0zM18.844 19.076a1.183 1.183 0 112.367 0 1.183 1.183 0 01-2.367 0z"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M.5.5h50v30H.5z"/></clipPath></defs></svg>
            span Водно-гликолевые #[br] растворы
        li.products__item
          button.products__item-button(type='button', data-img='images/decor/4.svg') 
            <svg width="51" height="30" viewBox="0 0 51 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M35.3682 28.1708C35.6921 28.3959 36.1181 28.4095 36.4557 28.2057L46.6074 22.0764C47.0802 21.7909 47.232 21.1762 46.9466 20.7034C46.6611 20.2307 46.0464 20.0788 45.5736 20.3643L35.9771 26.1584L26.4999 19.5722V7.28576C26.4999 6.73348 26.0522 6.28576 25.4999 6.28576C24.9476 6.28576 24.4999 6.73348 24.4999 7.28576V19.5722L15.0227 26.1584L5.4262 20.3643C4.95341 20.0788 4.33872 20.2307 4.05326 20.7034C3.7678 21.1762 3.91967 21.7909 4.39246 22.0764L14.5441 28.2057C14.8818 28.4095 15.3077 28.3959 15.6316 28.1708L25.4999 21.3128L35.3682 28.1708Z" fill="white"/>
              <path d="M29.1949 6.57143C29.1949 8.54387 27.5959 10.1429 25.6234 10.1429C23.651 10.1429 22.052 8.54387 22.052 6.57143C22.052 4.59898 23.651 3 25.6234 3C27.5959 3 29.1949 4.59898 29.1949 6.57143Z" fill="white"/>
              <path d="M7.76639 19.4286C7.76639 21.4011 6.16741 23 4.19496 23C2.22252 23 0.623535 21.4011 0.623535 19.4286C0.623535 17.4562 2.22252 15.8572 4.19496 15.8572C6.16741 15.8572 7.76639 17.4562 7.76639 19.4286Z" fill="white"/>
              <path d="M50.6233 19.4286C50.6233 21.4011 49.0243 23 47.0519 23C45.0795 23 43.4805 21.4011 43.4805 19.4286C43.4805 17.4562 45.0795 15.8572 47.0519 15.8572C49.0243 15.8572 50.6233 17.4562 50.6233 19.4286Z" fill="white"/>
            </svg>
            span Глицерин
        li.products__item
          button.products__item-button(type='button', data-img='images/decor/5.svg')
            <svg width="55" height="50" viewBox="0 0 55 50" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d)"><g clip-path="url(#clip0)" fill="#fff"><path d="M14.78 32.596l-5.03-5.03a5.179 5.179 0 00-3.683-1.524H2.583a1.042 1.042 0 000 2.083h3.483c.821 0 1.628.333 2.209.915l3.252 3.252H2.583a1.042 1.042 0 000 2.083h11.458a1.044 1.044 0 00.738-1.78zM14.042 37.5c-.575 0-1.042.467-1.042 1.042v3.125c0 .575-.469 1.041-1.041 1.041h-6.25a1.044 1.044 0 01-1.042-1.041V37.5a1.042 1.042 0 00-2.083 0v4.167a3.129 3.129 0 003.124 3.125h6.25a3.129 3.129 0 003.126-3.125v-3.125c0-.575-.467-1.042-1.042-1.042z"/><path d="M45.773 19.91c-2.87-1.502-9.315-2.201-20.273-2.201s-17.402.7-20.273 2.201C1.957 21.62.5 24.473.5 29.167c0 4.512 1.033 8.437 1.077 8.602.12.456.533.773 1.006.773h9.13l3.945 1.973c.146.073.307.11.467.11h18.75c.16 0 .32-.037.465-.11l3.947-1.973h9.13a1.04 1.04 0 001.006-.773c.044-.165 1.077-4.09 1.077-8.602 0-4.694-1.456-7.548-4.727-9.257zm1.82 16.548h-8.55c-.162 0-.322.038-.466.11l-3.948 1.974H16.371l-3.946-1.973a1.044 1.044 0 00-.467-.11h-8.55c-.29-1.328-.825-4.194-.825-7.292 0-3.923 1.046-6.071 3.607-7.41 2.495-1.305 8.991-1.965 19.31-1.965 10.319 0 16.815.66 19.31 1.964 2.56 1.34 3.607 3.488 3.607 7.41 0 3.099-.536 5.965-.823 7.292z"/><path d="M48.417 32.292h-8.944l3.25-3.252a3.151 3.151 0 012.21-.915h3.484a1.042 1.042 0 000-2.083h-3.483a5.179 5.179 0 00-3.684 1.525l-5.029 5.029a1.042 1.042 0 00.737 1.78h11.459a1.042 1.042 0 000-2.084zM37.902 26.642c-.172-.367-.54-.6-.943-.6H14.042a1.043 1.043 0 00-.8 1.708L18.45 34c.198.237.492.375.8.375h12.5c.309 0 .602-.138.8-.375l5.209-6.25c.26-.31.314-.744.143-1.108zm-6.641 5.65H19.738l-3.473-4.167h18.469l-3.473 4.167zM46.248 20.419c-1.186-2.725-5.152-11.707-6.532-12.88-1.718-1.46-6.641-2.33-13.175-2.33h-2.083c-6.533 0-11.456.87-13.175 2.328-1.38 1.173-5.348 10.155-6.531 12.88-.227.529.014 1.141.542 1.37.525.23 1.141-.01 1.37-.54 2.352-5.414 5.23-11.43 5.97-12.12.801-.681 4.195-1.835 11.824-1.835h2.083c7.63 0 11.023 1.154 11.821 1.83.744.695 3.621 6.71 5.973 12.126a1.043 1.043 0 001.913-.83zM47.375 36.458c-.575 0-1.042.467-1.042 1.042v4.167c0 .575-.468 1.041-1.041 1.041h-6.25A1.044 1.044 0 0138 41.667v-3.125a1.042 1.042 0 00-2.084 0v3.125a3.129 3.129 0 003.126 3.125h6.25a3.129 3.129 0 003.124-3.125V37.5c0-.575-.466-1.042-1.041-1.042z"/></g></g><defs><clipPath id="clip0"><path fill="#fff" d="M.5 0h50v50H.5z"/></clipPath><filter id="filter0_d" x="-3.5" y="0" width="58" height="58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"/><feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"/></filter></defs></svg>
            span Охлаждающая жидкость #[br] для автомобилей

      .products__content-inner
        picture.products__picture
          img(src=imagesPath + 'decor/1.svg', title=siteName, alt=siteName, loading='lazy')
        ul.products__list-desc


          li.products__list-item.is-active
            ul.products__list-item-tabs
              li.products__list-item-tab 
                button.products__list-item-tab-button.is-active(type='button') 
                  span Пищевой
              li.products__list-item-tab 
                button.products__list-item-tab-button(type='button')
                  span Технический 
            .products__list-item-content.is-active
              h3.products__list-item-title Пропиленгликоль
              p.products__list-item-text Бесцветное органическое соединение с консервирующими свойствами. Используется в качестве растворителя пищевых добавок, а также как увлажнитель табака
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать
            .products__list-item-content
              h3.products__list-item-title Пропиленгликоль
              p.products__list-item-text Слаботоксичное бесцветное соединение со стерилизующими и бактерицидными свойствами. Применятся для получения лекарств, а также в качестве антфириза
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать  


          li.products__list-item
            ul.products__list-item-tabs
              li.products__list-item-tab.is-active 
                button.products__list-item-tab-button.is-active(type='button') 
                  span Теплоноситель
            .products__list-item-content.is-active
              h3.products__list-item-title Этиленгликоль
              p.products__list-item-text Токсичное органическое соединение без запаха. Входит в состав антифризов и тормозных жидкостей, также используется при производстве полимеров
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать
            .products__list-item-content
              h3.products__list-item-title Этиленгликоль
              p.products__list-item-text Токсичное органическое соединение без запаха. Входит в состав антифризов и тормозных жидкостей, также используется при производстве полимеров
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать 


          li.products__list-item
            ul.products__list-item-tabs
              li.products__list-item-tab 
                button.products__list-item-tab-button.is-active(type='button') 
                  span ВГР
              li.products__list-item-tab 
                button.products__list-item-tab-button(type='button')
                  span ВРП 
            .products__list-item-content.is-active
              h3.products__list-item-title Водно-гликолевый раствор (ВРГ)
              p.products__list-item-text Характеризуется низкой температурой замерзания от -1 до -70 Со. Используется как охлаждающая жидкость и теплоноситель в промышленных системах отопления и охлаждения
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать
            .products__list-item-content
              h3.products__list-item-title Водный раствор пропиленгликоля (ВРП)
              p.products__list-item-text Нетоксичный и экологически безопасный бытовой антифриз. Применяется в отопительных и кондиционирующих автономных системах, защищает от замерзания и коррозии
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать 


          li.products__list-item
            .products__list-item-content.is-active
              h3.products__list-item-title Глицерин
              p.products__list-item-text Нетоксичное органическое соединение без запаха. Используется в различных отраслях: пищевой, медицинской, сельскохозяйственной. Также входит в состав косметических продуктов.
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать


          li.products__list-item
            ul.products__list-item-tabs
              li.products__list-item-tab 
                button.products__list-item-tab-button.is-active(type='button') 
                  span Тосол
              li.products__list-item-tab 
                button.products__list-item-tab-button(type='button')
                  span Антифриз 
            .products__list-item-content.is-active
              h3.products__list-item-title Тосол
              p.products__list-item-text Разновидность охлаждающией жидкости с органическими присадками. Подходит для автомобилей отечественного производства.
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать
            .products__list-item-content
              h3.products__list-item-title Антифриз
              p.products__list-item-text Разновидность охлаждающией жидкости с неорганическими присадками. Подходит для иностраныых марок автомобилей/иномарок.
              button.button.button--red.products__list-item-button.js-modal(type='button', data-target='order')
                span Заказать                   